.store-bg{
    background-image: url('../../public/dr.oh.webp');
    width: 100vh;
    height: 500px;
    /* height: 100vh; */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cotain;
}